@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    background-color: #000000;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0F0F0F;
}
::-webkit-scrollbar-thumb {
  background: #2A2A2A;
}
::-webkit-scrollbar-thumb:hover {
  background: #C5A059;
}

